# Environment variables
.env

# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
*.pid
*.seed
*.pid.lock

# Directory for uploaded and translated files
uploads/
translated/

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn integrity file
.yarn-integrity

# Local development files
*.local

# Debug logs
debug.log